@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lato: var(--font-lato);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(to right, #2c1946 0%, #121423 100%);
  color: #ffffff;

  font-family: var(--font-lato);
}
.bgColor {
  background: linear-gradient(to right, #cb45ff 0%, #38a2e7 100%);
}

@keyframes scrollX {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes bounceY {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.logo-track {
  display: flex;
  gap: 2rem;
  width: max-content;
  animation: scrollX 20s linear infinite;
}

.logo-item {
  animation: bounceY 2s ease-in-out infinite;
}
.logo-track {
  display: flex;
  gap: 2rem;
  width: max-content;
  animation: scrollX 20s linear infinite;
}

.logo-item {
  animation: bounceY 2s ease-in-out infinite;
}
.custom-gradient {
  background: linear-gradient(to right, #3a174d 10%, #2c133b 90%);
}
